# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# Django
db.sqlite3
*.log
media/

# Tailwind / Node
node_modules/
package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db